<mat-card>
  <mat-card-header class="row justify-content-center">
    <mat-card-title class="col ">
      {{ 'SendEmailforresetPassword' | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row justify-content-center">
      <form class="col-10 " #myForm="ngForm">

        <div class="example-container row">

          <mat-form-field>
            <input [formControl]="email" name="email" matInput type="email" [(ngModel)]="myuser.email"
                   placeholder="{{ 'email' | translate }}"
                   required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>


        </div>
        <div class="row justify-content-center">
          <re-captcha
            #captchaRef="reCaptcha"
            siteKey="{{reCaptchaKey}}"
            size="invisible"
            (resolved)="$event && onSubmit($event)"
          ></re-captcha>
          <button type="submit" mat-fab (click)="captchaRef.execute()" [disabled]="!myForm.valid">
            <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
          </button>
        </div>
      </form>

    </div>
  </mat-card-content>
</mat-card>
