<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row  style="padding: 0px;height: auto;" class="row justify-content-center">
    <div class="col-lg-9 col-md-12">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div>
                <h3>USEFUL LINKS</h3>
                <p><a routerLink="/requestResetPassword">My Account</a></p>
                <p><a routerLink="/requestResetPassword">Contact</a></p>
              </div>
            </div>
            <div class="col">
              <div>
                <h3>CONTACT INFORMATION</h3>
                <p>
                  <mat-icon>location_on</mat-icon>
                  <span>333 meknes, vn</span>
                </p>
                <p>
                  <mat-icon>call</mat-icon>
                  <span>(+212) 542-1235</span>
                </p>
                <p>
                  <mat-icon>schedule</mat-icon>
                  <span>temps</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <agm-map [latitude]="10" [longitude]="10">
                <agm-marker [latitude]="10" [longitude]="10"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>

      </div>
      <mat-divider></mat-divider>
    </div>

  </mat-toolbar-row>

  <mat-toolbar-row style="padding: 0px;height: auto;" class="row justify-content-center">
    <div class="col-md-9 col-sm-11 " style="padding: 5px 0px;">
      <div class="row">
        <div class="col">
          dzcjhkedhc
        </div>
        <div class="col-3">
          sdcjhskjd
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
