<mat-card class="example-card">
  <mat-card-content>

    <div class="d-flex flex-column">
      <div>
        <h2 class="title">{{ 'FamillyESSAIDI' | translate }}</h2>


        <div class="text">
          <img align="left" src="../../../assets/images/Art 001.jpg" height="415" width="336"/>
          <img align="right" src="../../../assets/images/Art 003.jpg" height="448" width="324"/>
          <p>{{ 't1p1' | translate }}</p>
          <p>{{ 't1p2' | translate }}</p>
          <p>{{ 't1p3' | translate }}</p>

        </div>
      </div>
      <div>
        <h2 class="title">{{ 'Thedamasquinurie' | translate }}</h2>



        <div class="text"><img align="left" src="../../../assets/images/image002.jpg" height="143" width="215"/>
          <p>{{ 't2p1' | translate }}</p>
          <p>{{ 't2p2' | translate }}</p>
          <p>{{ 't2p3' | translate }}</p>
        </div>
      </div>

    </div>


  </mat-card-content>
</mat-card>
