.swiper-items {

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-items .title {
  font-size: 48px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.swiper-items .subtitle {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.swiper-container {
  height: 500px;
}

@media (min-width: 1281px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-items .subtitle {
    font-size: 24px;
  }

  .swiper-items .title {
    font-size: 36px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .swiper-container {
    height: 320px;
  }
  .swiper-items .subtitle {
    font-size: 12px;
  }

  .swiper-items .title {
    font-size: 24px;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .swiper-items .subtitle {
    font-size: 12px;
  }

  .swiper-items .title {
    font-size: 24px;
  }

  .swiper-container {
    height: 280px;
  }
}

.swiper-items-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.example-card {
  margin-top: 20px;
}

:host /deep/ .mytabs .mat-tab-body-content {
  overflow: hidden;
}

