<mat-card>
  <mat-card-header class="row justify-content-center">
    <mat-card-title class="col ">
      {{ 'ResetPAssword' | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row justify-content-center">
      <form class="col-10 " #myForm="ngForm">

        <div class="example-container row">

          <mat-form-field>
            <input [formControl]="password" name="password" [(ngModel)]="myuser.password" type="password"
                   required matInput
                   placeholder="{{ 'password' | translate }}">
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [formControl]="password_confirmation" name="password_confirmation"
                   [(ngModel)]="myuser.password_confirmation" type="password"
                   required
                   matInput placeholder="{{ 'confirmPassword' | translate }}">
            <mat-error *ngIf="password_confirmation.invalid">{{getErrorMessageConfirm()}}</mat-error>
          </mat-form-field>

        </div>
        <div class="row justify-content-center">
          <re-captcha
            #captchaRef="reCaptcha"
            siteKey="{{reCaptchaKey}}"
            size="invisible"
            (resolved)="$event && onSubmit($event)"
          ></re-captcha>
          <button type="submit" mat-fab (click)="captchaRef.execute()" [disabled]="!myForm.valid">
            <mat-icon aria-label="Example icon-button with a heart icon">cached</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
